{% extends "base.html.twig" %}

{% block title %}Connection{% endblock %}

{% block contenu %}
    <div class="form-group">
      <label for="exampleInputEmail1">Adresse Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">
      <small id="emailHelp" class="form-text text-muted">Nous ne la partagerons a personne.</small>
    </div> 
{% endblock %}