{% extends "base.html.twig" %}

{% block title %}Maintenance{% endblock %}

{% block contenu %}
    <p>
       <ul style="text-align: center;"> <h1 > <strong> une Maintenance est en cours </strong> </h1> </li>
       <ul style="text-align: center;"> <a href="http://s2.nuage-pedagogique.fr/symfony-8001/shopshop/public/index.php?page=accueil"><button type="button" class="btn btn-primary" style="margin: 2px;">Retourner a l'accueil</button></a> </li>
    </p>
{% endblock %}

